* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
}

:root {
  --color-background: #1a1d23;
  --color-highlight: #ff57b2;
  --color-heading: #f8f8f8;
  --color-info: #bbbbbb;
  --color-body: #d7d7d7;
}
